@charset "utf-8";
   *{margin:0; padding:0;}
   *section{height: 100%;}
    .wrap
    .contInner{height:100%;width:100%;position:absolute} /*내용이 채워져서 높이가 잡히면 생략가능*/
.bg1{background:url(../images/back.JPG) no-repeat;
background-size: 95% 85%;
background-position: center;
top:-2%;
}
.bg2{background-color:beige; top:100%;}
.bg3{background-color:#ffff;  top:200%;}
.bg4{background-color:beige; top:300%;}	


/*section1*/

header{position: relative;}
.nav{position: fixed;
     width: 100%;
     color: black;
     text-align: end;
     z-index: 99999;     
}

.gnb{
    display: block;
    position: absolute;
    padding-top: 0.5%;
    top:15%;
    right:5%;
    padding-top: 2%;}

    .nav > .gnb > li{
        padding: 2% 0 6% 0;
    }


    .gnb > li > a{
        width: 100%;
        text-align: right;
    }

    .gnb > li > a:hover {
        color: blue;
        text-shadow: 1px 1px 5px rgba(74, 34, 221, 0.5);
        border-bottom: 2px solid;
        border-bottom-color:blue;
    }

    .gnb-le{
        width: 100%;
        padding: 1% 2% 2% 2%;
        font-size: 1.4em;
    }



#section1 .banner {
    width: 100%; height:100%; position: relative;
}

#section1 .banner > div{
    position: relative;
    top: 50%;
}

/*section2*/
#section2 .youtube{width: 100%; height:100%; position: relative;}
#section2 .youtube > div{
    height: 100%;
    top: 22%;
    left: 0%;
    padding: 1% 1% 1% 1%;
    box-sizing: border-box;
}

#section2 .sub_t{
    position: relative;
    color:black;
    width: 100%;
    top:15%
}

#section2 .txt1{
    color:black;
    padding: 2% 1% 1% 1%;
}

#section3 article{width: 100%;
height: 100vh;}
#section3 h2{color: black;
position: relative;
top:30%}


#section3 a{
position: relative;
top: 34%
}

#section4 h2{
    padding-bottom: 0.5%;
}
#section4 h4{
    padding-top: 0.5%;
}

#section4 .txt{
    display: flex;
    position: relative;
    flex-direction: column;
    color: black;
    font-size: 1.5rem;
    top:30%;
    width: 100%;
    flex-direction: wrap;
    align-items: center;
    align-content: center;
}
#section4 .txt > p{
    font-size: 1.2rem;
    padding: 0.5% 0.5% 0.5% 0.5%;
    box-sizing:border-box
}

@media all and(max-width:426){
    .bg1{background:url(../images/back2.JPG) no-repeat;}

    #section2 .youtube > div > img{
        left: -2%;
    }
    #section4 .txt{
        font-size: 1.2em;
    }
    #section4 .txt > p{
        font-size: 1.2rem;
       
    }
}
